body {
    background: #e3f2fd;
    font-family: Arial;
    text-align: center;
}

.logo {
    width: 150px;
    animation: latir 2s infinite;
}

@keyframes latir {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.boton {
    background: #ff7043;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
}